.right {
    float: right;
}

.left{
    float: left;
}

.h1-style {
    font-size: 3em;
    color: #00344C;
    margin-bottom: 30px;
}

h1-style2 {
    font-size: 2.25rem;
    font-family: 'PT Sans Narrow', sans-serif;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}


/*--------------------------------Navbar---------------------*/


.nav {
    background-color: #10243b;
    overflow: hidden;
}

.nav li {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  font-size: 17px;
}


.nav-right {
  float: right;
}





/*---------------hero -----------------*/


#hero{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#herosection img{
    position: relative;
    top: 100px;
    left: 20px;
}

#herotext{
    position: relative;
    width: 60%;
    top: 0px;
    left: 170px;
}

/*----------------------Explore CCHS Section----------------------*/
#explorecchs {
    width: 100%;
    height: 400px;
}

#exploreheader {
    width:100%;
    height: 81px;
    background-color: #10243B;
    text-align: center;
}

#marginarrow {
    margin-bottom: 10px;
    font-size: 24px;
    padding-top: 6px;
}

#exploresection {
    width: 100%;
    height: 319px;
    background-color: #a3dde8;
}

.explorebox {
    height: 315px;
    width: 25%;
    background-color: white;
    float: left;
}

#hurricane {
    background-image: url("images/patriots\ plaza.jpg");
    background-position: center;
    background-size: cover;
}

#Media {
    background-image: url("images/ccnn\ live.png");
    background-position: center;
    background-size: cover;
}

#CCNN {
    background-image: url("images/ccnn.jpg");
    background-position: center;
    background-size: cover;
}

#guidance {
    background-image: url("images/college.png");
    background-position: center;
    background-size: cover;
}

/*----------------------------CCHS At A Glance-------------*/

#cchsglance {
    width: 85%;
    height: 400px;
    color: black;
    margin: 0 auto; 
}

#glanceheader {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

#glancecontent {
    display: inline-block;
    width: 100%;
    height: 300px;
    text-align: center;
}

#glancecontent h1 {
    color: red;
}

.glancebox {
    width: 25%; 
    float: left;
    height: 300px;
    width: 302px;
}

.glancebox img{
    width: 60%;
}




/* -----------------------------   AP COURSES    ---------------------------------- */


    #apcourses{
        width: 80%;
        height: 300px;
        background-color: white;  
        padding-left: 20%;      
        margin: 0 auto;
    }

    #apheader{
        width: 80%;
        height: 100px;
        background-color: #10243B;
        text-align: center;
        margin-top: 50px;
        padding-top: 50px;
        margin-bottom: 0px;
    }






/*---------------------------------College-------------------------------*/


#college {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid yellow;
}

#collegeheader h4{
    width: 100%;
    height: 100px;
    color: black;
    font-size: 18px;
    text-align: center;
    border-top: solid brown 1px;
    padding-top: 20px;
}

#collegeimg {
    width: 99vw;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*--------------------------Footer---------------*/

#missionstatement {
    width: 80%;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-style: italic;
    font-size: .875em;
    padding-top: 50px;
    padding-left: 70px;
}

#footer {
    height: 400px;
    width: 100%;
    background-color: #333333;
    color: white;
    font-size: 1em;
}

#sitemap {
    margin-right: 100px;
}


#contact h4 {
    margin-top: 25px;
    margin-bottom: 50px;
    padding-left: 70px;
} 

#footernav {
    background-color: #10243B;
    height: 50px;
    width: 100%;
}

#footernav li {
    display: inline;
}

#footernav ul{
    text-align: center;
    padding: 10px;
}

#footerli {
    float: left;
    padding-right: 250px;
}