nav {
    background-color: #10243b;
    width: auto;
    height: 60px;

}

ul {
    list-style-type: none;
}

ul:first-child {
    padding-left: 0px;
    margin-left: 0px;
}

li {
    display: inline;
    padding: 8px;
    margin: 8px;
    text-transform: uppercase;
}

body {
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}

#hero {
    background-image: url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.right {
    float: right;
}